<!doctype html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/my_playlists_style.css') }}">

  <title>My Playlists</title>
</head>
<body>

<h1>My Playlists</h1>

  <div id='toolbar'>
    <a id='toolbar_playlists' href='/my_playlists'>My Playlists</a>
    <a id='toolbar_tastes' href='/add_tastes'>Add Tastes</a>
    <a id='toolbar_profile' href='/my_profile'>My Profile</a>
  </div>

  <a href='/add_tastes/generate_playlists'>
           <button class="add" id='generate_playlists'>Click here to generate playlists!</button>
  </a>




       {% if playlists and not error %}
       {% set count = 0 %}
     <table class="greyGridTable">
      {% for playlist in playlists %}

       <tr>

        {% if playlist[1] %}
         <td>  <img href='/my_playlists/{{ playlist[0] }}' style="-webkit-user-select: none;margin: auto;cursor: zoom-in;" src={{ playlist[1] }} width="100" height="100" id='cover_art'></td>
        {% else %}
        <td>  <img href='/my_playlists/{{ playlist[0] }}' style="-webkit-user-select: none;margin: auto;cursor: zoom-in;" src="{{url_for('static', filename='images/no_image_available.png')}}" width="100" height="100" id='cover_art'></td>
        {% endif %}

        {% if playlist[4] %}
           <td><a id='playlist_link' href='/my_playlists/{{ playlist[0] }}'>{{ playlist[4] }}</a></td>
        {% endif %}

           {% if playlist[3] %}
         <td><p class="contents" href='/my_playlists/{{ playlist[0] }}'>{{ ', '.join(playlist[3])[:80] }}</p></td>
        {% endif %}


</tr>
         {% endfor %}

         {% else %}

       <p>You have no playlists yet, click the button above to generate some</p>

         {% endif %}


         <tr><td></td></tr>
         <tr><td></td></tr>
         <tr><td></td></tr>
         <tr><td></td></tr>
         <tr><td></td></tr>
         <tr><td></td></tr>
         <tr><td></td></tr>
         <tr><td></td></tr>
         <tr><td></td></tr>
         <tr><td></td></tr>
         <tr><td></td></tr>
         <tr><td></td></tr>
         <tr><td></td></tr>
         <tr><td></td></tr>
         <tr><td></td></tr>
         <tr><td></td></tr>

     </table>
</div>

<!--
<div id="invisible">

         <p>a</p>
         <p>a</p>
         <p>a</p>
         <p>a</p>
         <p>a</p></div>-->

</body>
</html>
