{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}


{% block content %}
<div id="register">
  <form method="post">

      <h3>Register</h3>

    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }} </p>
    {% endif %}

    <div class="tooltip">
    <label for="username" id="lbl">Username</label>
    <span class="tooltiptext">Your username may contain numbers, letters, underscores, and hyphens</span>
    </div>

    <input name="username" id="username" value={{username}}>

      <p></p>

    <div class="tooltip">
      <label for="email">Email</label>
    <span class="tooltiptext">Enter a valid email address</span>
    </div>

    <input name="email" id="email" value={{email}}>

      <p></p>

    <div class="tooltip">
    <label for="password">Password</label>
    <span class="tooltiptext">Your password must contain at least one capital, one lowercase letter, and a number</span>
    </div>

    <input type="password" name="password" id="password" value={{password}}>

    <p></p>

    <div class="tooltip">
    <label for="password">Repeat Password</label>
    <span class="tooltiptext">Your password must contain at least one capital, one lowercase letter, and a number</span>
    </div>


    <input type="password" name="password_verification" id="password_verification" value={{password_verification}}>

      <p></p>

    <input type="submit" value="Register">



    <h6>Already registered? Click <a href="{{ url_for('auth.login') }}">here</a>!</h6>
  </form>



  </div>
{% endblock %}

